@import "lib/vars.css";
@import "lib/mixins.css";
@import "lib/fontface.css";
@import "partials/_feed.css";
@import "partials/_menu.css";
@import "partials/_aside.css";

* {
  //border: 1px solid tomato;
}

html,
body {
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  @apply bg-[rgba(31,37,47)];
  min-height: 100vh;
  font-family: $font_family_base;
}

.twitter {
  min-height: 100vh;
  max-width: 1250px;
  margin: 0 auto;

  .content_block{
    @apply flex;
    .feed {
      .home {
        @apply flex justify-between items-center px-4 mt-4 ; 
        span{
          @apply flex justify-between items-center;
          @apply text-xl font-bold;
        }
        img{
          @apply flex justify-between items-center h-5 w-auto;
        }
      }
    }
  }
  
 
}
.menu {
  @apply flex-col justify-between;
  .menu_items {
    
    .menu_item {
      @apply p-4;
    }
    .tweet{
      @apply flex justify-center items-center;
      @apply bg-blue-500 rounded-full h-12 mt-2 mb-2;
      width: 225px;
    }
    .profile{

    }
  }
  
}
